
/** Tracks Thumbnails **/

[data-display-mode="list"] .track-titlespan {
  color: white;
  /*
   * The font size of this selector
   * determines the height of the line,
   * and height+width of the thumb image
   */ 
  font-size: 12px;
}

[data-display-mode="thumb"] .track-picture, [data-display-mode="thumb"] .track-nopicture {
  /*
   * the width of this selector
   * determines the width *and* height 
   * of the image thumbnail block
   */
  width:100px;
}

[data-display-mode="thumb"] .track-picture {
  /* background-color: currentColor; */
  /* border:5px solid; */
}

[data-display-mode="thumb"] .track-title {
  /* background-color: rgba(255, 255, 255, 1); */
  /* text-shadow:0 0 0 #fff; */
  /* font-size: .9em; */
  /* line-height: 10px; */
  /* color: #000000; */
  /* line-height: 100px; */
}




/** Vertical volume control **/
.volume-control {
  margin: 1em;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-90deg) scale(0.4);
      -ms-transform: rotate(-90deg) scale(0.4);
          transform: rotate(-90deg) scale(0.4);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  z-index: 100000;
}

.volume-control label {
  -webkit-transform: rotate(-90deg) scale(2);
      -ms-transform: rotate(-90deg) scale(2);
          transform: rotate(-90deg) scale(2);
  /*width:1em;
  height:1em;
  line-height:1em;*/
}

.volume-control input {
  -webkit-transform: scale(1, 2);
      -ms-transform: scale(1, 2);
          transform: scale(1, 2);
}

#player-state {
  left:auto;
  right:0;
}

#controls {
  margin-bottom: 10px;
  margin-top: 10px;
}

#controls span {
  /* use 'em' unit rather than % (relative to width, which is bad as we're on a responsive box) */
  border-radius: 0.3em;
}

[data-action="play"] span:hover {
  background-color: #ccc;
}
[data-action="pause"] span:hover {
  background-color: #ccc;
}

.search-button {
  top:0;
}


/** Playlist customizations (desktop only as they rely on mouseover effects) **/

#playlist {
  background-color: #333;
}

#playlist:hover {
  background-color: #444;
}

