
[data-display-mode="thumb"] .track .track-picture, [data-display-mode="thumb"] .track img {
  height: auto;
}

#playlist[data-album-id] .album .album-picture {
  display: block;
  width: 50%;
  height: auto;
}

